@model indra.Models.Agendamentos

@inject indra.Web.Bibliotecas.LoginPessoaFisica pessoa

@{
    ViewData["Title"] = "Agendamento";
    var cliente = pessoa.GetUsuario();
    var servico = (indra.Models.Servico)ViewBag.Servico;
    var profissional = (indra.Models.PessoaFisica)ViewBag.Profissional;
}
@if (TempData["E_AGENDA_C"] != null)
{
    <!-- Error Alert -->
    <div class="alert alert-danger alert-dismissible fade show text-center" id="alert">
        <strong>Erro! </strong> @TempData["E_AGENDA_C"]
    </div>
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col col-xs-12">
                <div class="card">
                    <div class="card-header card-header-primary titulo">
                        <h3 class="card-title"><i class="fa fa-plus-circle"></i> Editar Agendamento</h3>
                    </div>

                    <div class="card-body">
                        <br />
                        <form asp-action="Editar" asp-controller="Agendamentos">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Id" />
                            <input type="hidden" asp-for="SituacaoAgendamentoId" value="1" />
                            <input type="hidden" asp-for="ClienteId" />
                            <input type="hidden" asp-for="ProfissionalId" />
                            <input type="hidden" asp-for="ServicoId" />
                            <div class="form-group">
                                <label id="labelAgendamento" class="control-label">Serviço</label>
                                <br />
                                <span>@servico.Nome</span>
                            </div>
                            <div class="form-group">
                                <label id="labelAgendamento" class="control-label">Profissional</label>
                                <br />
                                <span>@profissional.Nome</span>
                            </div>
                            <div class="form-group">
                                <label id="labelAgendamento" class="control-label">Horário</label>
                                <input asp-for="Horario" class="form-control" />
                                <span asp-validation-for="Horario"></span>
                            </div>
                            <div class="form-group">
                                <label id="labelAgendamento" class="control-label"><i class="fa fa-dollar"></i> Valor</label>
                                <br />
                                <span id="valorServico" class="valores">R$ @servico.Valor.ToString("F")</span>
                            </div>
                            <br />
                            <br />
                            <button type="submit" class="btn btnVerde pull-right"><i class="fa fa-edit"></i> Editar</button>
                            <a asp-action="TelaPrincipal" asp-controller="Home" class="btn btnCinza pull-left"><i class="fa fa-arrow-left"></i> Voltar</a>
                        </form>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    #wrapper #content-wrapper #content {
        flex: 0 0 auto;
    }
    span {
        color: #36b9cc;
        margin-left: 0px;
        font-size: x-large;
        font-weight: 800;
    }

    #labelAgendamento {
        font-size: inherit;
        margin-top: 2px;
    }

    select.form-control:not([size]):not([multiple]) {
        height: calc(2.4375rem + 2px);
        color: black;
        margin-left: -13px;
    }

    .bmd-form-group .form-control, .bmd-form-group label, .bmd-form-group input::placeholder {
        line-height: 1.1;
        color: black;
    }

    .form-check, label {
        font-size: 14px;
        line-height: 1.42857;
        color: #000000;
        font-weight: 400;
        font-weight: bold;
    }

    .col-md label {
        color: black;
    }

    .form-control {
        background-image: linear-gradient(to top, #36b9cc 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #333333 1px, rgba(210, 210, 210, 0) 1px);
    }

    .form-control, .is-focused .form-control {
        background-image: linear-gradient(to top, #36b9cc 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #333333 1px, rgba(210, 210, 210, 0) 1px);
    }

    .is-focused [class^='bmd-label'], .is-focused [class*=' bmd-label'] {
        color: #36b9cc;
    }

    select.form-control:not([size]):not([multiple]) {
        height: calc(2.4375rem + 2px);
    }

    select.form-control:not([size]):not([multiple]) {
        height: calc(2.4375rem + 2px);
    }

    .form-control:read-only {
        background-image: linear-gradient(to top, #36b9cc 1px, rgba(210, 210, 210, 0) 1px), linear-gradient(to top, #333333 1px, rgba(210, 210, 210, 0) 1px);
    }

    .form-control:read-only {
        background-image: linear-gradient(to top, #36b9cc 1px, rgba(210, 210, 210, 0) 1px), linear-gradient(to top, #333333 1px, rgba(210, 210, 210, 0) 1px);
    }

    .btn-secondary {
        background-color: #5a5c69;
    }

    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        white-space: nowrap;
        line-height: 10px;
    }
</style>

<script>
    $(document).ready(function () {
        $("#alert").hide();
        $("#alert").fadeTo(3000, 600).slideUp(600, function () {
            $("#alert").slideUp(600);
        });
</script>
