@model indra.Models.PessoaFisica

@{
    ViewData["Title"] = "Profissional";
}

@if (TempData["E_PROF_E"] != null)
{
    <!-- Error Alert -->
    <div class="alert alert-danger alert-dismissible fade show text-center" id="alert">
        <strong>Erro! </strong> @TempData["E_PROF_E"]
    </div>
}


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col col-xs-12">
                <div class="card">
                    <div class="card-header card-header-primary titulo">
                        <h2 class="card-title"><i class="fa fa-edit"></i> Editar Profissional</h2>
                    </div>

                    <div class="card-body">
                        <br />
                        <div class="container">
                            <div class="col-xs-12">
                                <form asp-action="Editar">
                                    <div asp-validation-summary="ModelOnly" class="text-danger col col-xs-12"></div>
                                    <input type="hidden" asp-for="Id" />
                                    <input type="hidden" asp-for="DtCriacao" />
                                    <input type="hidden" asp-for="Tipo" />
                                    <input type="hidden" asp-for="Ativo" />
                                    <div class="row">
                                        <div class="col col-xs-12">
                                            <label asp-for="Nome" class="control-label"></label>
                                            <input asp-for="Nome" class="form-control" required title="Nome é obrigatório" />
                                            <span asp-validation-for="Nome" class="text-danger col col-xs-12"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col col-xs-3">
                                            <label asp-for="Sexo" class="label"></label>
                                            <div>
                                                <select asp-for="Sexo" class="form-control">
                                                    <option value="Masculino">Masculino</option>
                                                    <option value="Feminino">Feminino</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col col-xs-12">
                                            <label asp-for="Email" class="control-label"></label>
                                            <input asp-for="Email" class="form-control" required title="Email é obrigatório" />
                                            <span asp-validation-for="Email" class="text-danger col col-xs-12"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col col-xs-6">
                                            <label asp-for="Senha" class="control-label"></label>
                                            <input asp-for="Senha" type="password" class="form-control" required title="Senha é obrigatória" />
                                            <span asp-validation-for="Senha" class="text-danger col col-xs-12"></span>
                                        </div>
                                        <div class="col col-xs-6">
                                            <label asp-for="ConfirmacaoSenha" class="control-label"></label>
                                            <input asp-for="ConfirmacaoSenha" type="password" class="form-control" required title="Confirmação de Senha é obrigatório" />
                                            <span asp-validation-for="ConfirmacaoSenha" class="text-danger col col-xs-12"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col col-xs-6">
                                            <label asp-for="Cpf" class="label"></label>
                                            <div>
                                                <input asp-for="Cpf" class="form-control" required title="CPF é obrigatório" />
                                                <span asp-validation-for="Cpf" class="text-danger col col-xs-12"></span>
                                            </div>
                                        </div>
                                        <div class="col col-xs-6">
                                            <label asp-for="Celular" class="label"></label>
                                            <div>
                                                <input asp-for="Celular" class="form-control" required title="Celular é obrigatório" />
                                                <span asp-validation-for="Celular" class="text-danger col col-xs-12"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col col-xs-6">
                                            <button type="submit" class="btn btnVerde pull-right"><i class="fa fa-save"></i> Salvar</button>
                                            <a asp-action="Index" class="btn btnVermelho  pull-right "><i class="fa fa-trash-o"></i> Cancelar</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<style>
    .error {
        color: red;
    }

    .col-md label {
        color: black;
    }

    .form-group .bmd-label-static {
        top: -10px;
        color: black;
    }

    .form-control {
        background-image: linear-gradient(to top, #00bcd4 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #333333 1px, rgba(210, 210, 210, 0) 1px);
    }

    .form-control, .is-focused .form-control {
        background-image: linear-gradient(to top, #00bcd4 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #333333 1px, rgba(210, 210, 210, 0) 1px);
    }

    .is-focused [class^='bmd-label'], .is-focused [class*=' bmd-label'] {
        color: #00bcd4;
    }

    select.form-control:not([size]):not([multiple]) {
        height: calc(2.4375rem + 2px);
    }

    select.form-control:not([size]):not([multiple]) {
        height: calc(2.4375rem + 2px);
    }

    .form-control:read-only {
        background-image: linear-gradient(to top, #00bcd4 1px, rgba(210, 210, 210, 0) 1px), linear-gradient(to top, #333333 1px, rgba(210, 210, 210, 0) 1px);
    }

    .form-control:read-only {
        background-image: linear-gradient(to top, #00bcd4 1px, rgba(210, 210, 210, 0) 1px), linear-gradient(to top, #333333 1px, rgba(210, 210, 210, 0) 1px);
    }

    .form-check, label {
        font-size: 14px;
        line-height: 1.42857;
        color: #000000;
        font-weight: bold;
    }

    .bmd-form-group .form-control, .bmd-form-group label, .bmd-form-group input::placeholder {
        line-height: 1.1;
        color: black;
    }

    select.form-control:not([size]):not([multiple]) {
        height: calc(2.4375rem + 2px);
        color: black;
    }

    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        white-space: nowrap;
        line-height: 10px;
    }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.min.js" type="text/javascript" asp-append-version="true"></script>
<script>
    $(document).ready(function () {
        $('#Cpf').mask('000.000.000-00');
        $('#Celular').mask('(00) 00000-0000');
    });
    $(document).ready(function () {
        $("#alert").hide();
        $("#alert").fadeTo(3000, 600).slideUp(600, function () {
            $("#alert").slideUp(600);
        });
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
